doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="nofollow")
    title Tweetable Objects 0.2.0
    link(href="https://abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(type="text/css" rel="stylesheet" href="https://abs.twimg.com/font/gotham-narrow-v1.css" media="all")
    link(rel="stylesheet" href="css/app.css")
    script(src="app.js")
body
    #header
        .header-content
            a(href="tweetkit.co") Tweetkit.co

    #content(ng-app="TweetableObjects" ng-controller="MainController" )
        .sub-header
            .centered-container
                h3.step-title {{ description }}
                .timeline test
        .page-container(ng-view)
    #footer
        .footer-content
            .twitter-inc Twitter Inc.
            .confidential Confidential Twitter Internal Information.