doctype html
head
    <!--  #{ timestamp } -->
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="robots" content="nofollow")
    title Tweetkit.co
    link(href="https://abs.twimg.com/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon")
    link(type="text/css" rel="stylesheet" href="https://abs.twimg.com/font/gotham-narrow-v1.css" media="all")
    link(rel="stylesheet" href="css/app.css")
    script(src="app.js")
body

    #content(ng-app="TweetableObjects" ng-controller="MainController" )
        .header
            .centered-container
                .logo-container
                    a.logo(href="http://tweetkit.co")
                        span @TWEETKIT
                .timeline-container
                    timeline(current="paging.current")
        .page-container(ng-view)
        .footer
            | Twitter Inc. 2015 &middot;
            = " "
            a(href="mailto:tweetkit@twitter.com") tweetkit@twitter.com

