
@blue-deep: #1e6398;
@blue-twitter: #55abed;
@blue-mid: #badcf4;
@blue-faint : #e0e7ec;
@blue-text: #00afe6;
@footer-text-color: #8799a6;

@font-narrow: 'Gotham Narrow', Helvetica,Arial,sans-serif;
@header-height: 110px;

@width-content: 800px;
@width-logo: 36px;


html {
  background: url('../images/wood.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: @font-narrow;
  font-size: 15px;
}



.header {
  background-color: transparent;
  height: 56px;
  font-size: 0px;
  position: relative;
  z-index: 20;
  .centered-container > * {
    width: 40%;
    margin-top: 44px;
  }
  .logo-container {
    padding: 0 0 0 40px;
    float: left;
    a.logo {
      background: transparent url('../images/logo.png') 0 0 no-repeat ;
      background-size: 20px 16px;
      font-size: 16px;
      font-family: @font-narrow;
      color: #91a4ad;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0 0 0 40px;
      letter-spacing: 2px;
      span {
        font-weight: bolder;
        font-size: 12px;
      }
    }
  }
  .timeline-container {
    float: right;
    text-align: right;
    padding: 0 65px 0 0;
  }

}



@import "timeline";
@import "status-circle";

.page-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  .left {
    float: left;
    width: 50%;
    height: 100%;

  }
  .white {
    background-color: white;
    -webkit-box-shadow: 0px 0px 109px 0px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 109px 0px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 109px 0px rgba(0,0,0,0.62);
  }
  .right {
    float: right;
    width: 49%;
    height: 100%;
  }
}

.center-center {
  background-size: 100% auto;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.start {
  max-width: 498px;
  min-height: 132px;
  background: transparent url('../images/start.png') 0 0 no-repeat ;
  cursor: pointer;
}

.device {
  max-width: 330px;
  min-height: 430px;
  background: transparent url('../images/device_photo.png') 0 0 no-repeat ;
}


.setting-up {
  .copy {
    min-width: 300px;
    margin: 0 40px;
  }
}

h1 {
  text-align: left;
  font-family: @font-narrow;
  color: #55abed;
  letter-spacing: 1px;
  font-size: 36px;
  margin: 0 0 20px 0;
  font-weight: lighter;
}

p {
  margin: 5px 0 ;
  font-family: @font-narrow;
  font-size: 14px;
}

h3 {
  margin: 0 0 20px 0;
}

h3.reconnect {
  color: @blue-deep;
  margin: 20px 0;
}

.wifi-computer-win7 {
  background: transparent url('../images/screenshot-wifi-win7.jpg') bottom center no-repeat;
  background-size: 348px 515px;
}

.wifi-computer-win8 {
  background: transparent url('../images/screenshot-wifi-win8.jpg') bottom center no-repeat;
  background-size: 401px 429px;
}

.wifi-computer-mac {
  background: transparent url('../images/screenshot-wifi-mac.jpg') bottom center no-repeat;
  background-size: 383px 379px;
}


.wifi-content {
  text-align: center;
  h3 {
    font-weight: bold;
    margin: 40px auto 10px auto;
    padding: 0 0 10px 0;
    border-bottom: 1px solid @blue-faint;
    font-family: @font-narrow;
    color: @blue-deep;
    width: 400px;
  }
  ul.wifis {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 300px;
  }

  ul.wifis li {
    background-color: @blue-faint;
    margin-bottom: 1px;
    padding: 5px;
    overflow: hidden;
    color: @blue-text;
  }

  ul.wifis li:hover {
    background-color: @blue-mid;
    cursor: pointer;
  }

}

.password-content {
  .form-control {
    display: block;
    margin: 5px 0;
  }
  input[type="text"] {
    padding: 10px;
    border: solid 3px @blue-twitter;
    transition: border 0.3s;
    outline: none;
  }

  input[type="text"]:focus,
  input[type="text"].focus {
    border: solid 3px @blue-faint;
  }
}

.landing-content {
  margin: 160px 0 0 0;
  .btn {
    margin: 80px 0 0 0;
  }
}


  .btn {
    background-color:#1e6398;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border-radius:7px;
    border:3px solid #55abed;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: @font-narrow;
    font-size:12px;
    padding:8px 35px;
    text-decoration:none;
    text-transform: uppercase;
  }

  .btn:hover {
    background-color:#0061a7;
  }
  .btn:active {
    position:relative;
    top:1px;
  }


@import "utils";
@import "spinner";