
body {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: 'Gotham Narrow', Helvetica,Arial,sans-serif;
  background: #e1e8ed;
  font-size: 15px;
  color: #292f33;
}

.btn {border-radius: 0;}

#banner {
  width: 100%;
  height: 110px;
  display: block;
  margin: 0 auto;
  background: #25292c url(http://images.tweet.twitter.com/EloquaImages/clients/TwitterInc/{3f16eddd-116b-4735-92fd-1dab9f2cfd4a}_gsc_twitter_logo.png) 0 0 no-repeat;
  background-position: center;
  min-width: 340px;
}

#header {
  background-color: #55acee;
  height: 55px;
  width: 100%;
  font-family: 'Gotham Narrow', Helvetica,Arial,sans-serif;
  z-index: 0;
}

#header-content {
  display: block;
  margin: 0 auto;
  width: 740px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 11px;
}


.page-container {
  width: 740px;
  padding: 0 30px;
  margin: 10px auto 40px auto;
}

h4 {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin: 0 0 20px 0;
}

h5.choose-wifi {
  font-weight: bold;
  margin: 20px 0 5px 0;
}

input[type="password"], input[type="text"] {
  font-size: 18px;
  margin: 10px 0 20px 0;
}

.instruction-step {
  margin: 20px 0;
}

.instruction-step > img,  .instruction-step > div.left {
  float: left;
}

.center {
  margin: 0 auto;
}

.instruction-step div.content {
  width: 380px;
  padding: 20px;
  font-size: 18px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.wifi-waiting {
  background-color: #d1e0ea;
  text-align: center;
  font-size: 12px;
  border-radius: 3px;
  padding: 15px;
  margin: 30px 15px 0 15px;

}

.spinner {
  width: 40px;
  height: 40px;
  margin: 20px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: scaleout 1.5s infinite ease-in-out;
  animation: scaleout 1.5s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
}

ul.wifis {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.wifis li {
  background-color: #d1e0ea;
  margin-bottom: 1px;
  padding: 5px;
}

ul.wifis li:hover {
  background-color: #c9d7e1;
  cursor: pointer;
}
