.left.white
   .center-center(style="top: 25%")
      .copy
         h1(style="margin-bottom: 0") Add Device
         .password-content.clearfix(style="margin-bottom: 20px")
            .form-control
               input.handle(placeholder="id" ng-model="newId" type="text")
         .password-content.clearfix(style="margin-bottom: 20px")
            .form-control
               .prefix @
               input.handle(placeholder="handle" ng-model="handle" type="text")
         a.button(ng-click="add(newId, handle)" style="padding: 14px 16px 14px 16px;") ADD
         div(style="margin: 40px 0 10px 0; border-bottom: 1px solid #e9e9e9;")

         h1(style="margin: 20px 0 0 0") Edit Handle
         p(ng-if="device.id" style="font-size: 18px; margin: 0 0 10px 2px") For device ({{ device.id }})
         .password-content.clearfix
            .form-control
               .prefix @
               input.handle(placeholder="{{ device.handle }}" ng-model="newHandle" type="text")
            .form-control
               a.button(type="button" ng-click="edit(newHandle)") SAVE

.right
      .center-center.panel(style="top: 25%").choose-wifi
         .wifi-content
            h3 Devices
            ul.devices
               li(ng-repeat="device in devices"  ng-click="wifiSelected(wifi)")
                  span(ng-show="device.handle")
                     a(ng-click="select(device)") @{{ device.handle }} ({{ device.id }} )
                  span(ng-show="!device.handle")
                     | No handle
                  .connected-status(ng-class="{ 'connected' : device.is_connected}" ng-click="trigger(device)")

