.left.white
   .center-center
      .copy
         h1 Add or edit devices
         p Something...
.right
      .center-center.panel(style="top: 25%").choose-wifi
         .wifi-content
            h3 Devices
            ul.devices
               li(ng-repeat="device in devices"  ng-click="wifiSelected(wifi)")
                  span(ng-show="device.handle")
                     a @{{ device.handle }} ({{ device.id }} )
                  span(ng-show="!device.handle")
                     | No handle
                  .connected-status(ng-class="{ 'connected' : device.is_connected}" ng-click="trigger(device)")

