.admin
   h3 Tweetkit Admin
   .add
      input()
   .list
      .device(ng-repeat="device in devices")
         .device-id {{ device.id }}
         .device-handle {{ device.handle }}
         .device-status {{ device.is_connected }}
