h4 Welcome {{ handle }} !
.instruction-step.clearfix
    img(src="http://placehold.it/300?text=STATUS LIGHT")
    div.content.left
        | Turn on your Tweetable Object with the button and wait for status light to start flashing.
button(type="button" ng-click="next()" class="btn btn-primary btn-lg btn-block") STATUS LIGHT IS FLASHING