
.instruction-step.clearfix
    div.content.left
        | Turn on your Tweetable Object with the button and wait for status light to start flashing.
.btn( ng-click="next()" class="btn btn-primary btn-lg btn-block") STATUS LIGHT IS FLASHING