h4 Save your Wifi
.instruction-step
    .content.center(ng-hide="wifis")
        | Finding your local wifi networks
        .spinner
    .content.center(ng-show="wifis")
        | Select your local wifi to connect to your device
        h5.choose-wifi Choose your network...
        ul.wifis
            li(ng-repeat="wifi in wifis" ng-if="wifi.ssid.length > 0" ng-click="wifiSelected(wifi)") {{ wifi.ssid }}