.left.white
    .center-center
        .copy
            h1 Connect your device to Wi-Fi
            p Check the list of available access points, then click on your local Wi-Fi network. The page will automatically continue to the next step once you've made a selection.
.right
    .center-center.panel(style="top: 25%").choose-wifi
        .wifi-content(ng-hide="wifis")
            h3 FINDING NETWORKS
            .spinner
        .wifi-content(ng-show="wifis")
            h3 SELECT FROM THIS LIST
            ul.wifis
                li(ng-repeat="wifi in wifis" ng-if="wifi.ssid.length > 0" ng-click="wifiSelected(wifi)") {{ wifi.ssid }}
