.left.white
    .center-center
        .copy
            h1 Your device is ready for Tweets.
            p Congratulations, your device is conﬁgured and will now send you to the control panel. Once there you can add additional hash tags to animate the device. Thank you for conﬁguring and happy Tweeting!

.right
    .center-center.device(style="top: 30%")