.left.white
    .center-center(style="top: 26%")
        .copy
            h1 Customize @handle
            p.form-description  Congratulations! The device is configured. Now, assign a custom @handle to get it ready for Tweets.
            .password-content.clearfix
                .form-control
                    .prefix @
                    input.handle(placeholder="{{ device.handle }}" value="{{ device.handle }}" ng-model="newHandle" type="text")
                .form-control
                    a.button(type="button" ng-click="update(newHandle)") SAVE
                    a.busy(ng-show="network.busy")
            .new-wifi(style="margin: 20px 0 30px 0;")
                a.button(ng-click="makeFly()" style="display: block; text-align: center; padding-right: 16px;") MAKE IT FLY
            h1(style="font-size: 24px; margin: 30px 0 0 0; line-height: 35px;") Connect to new Wi-Fi
            p.form-description(style="margin-top: 0px")
                | The device must be reconfigured if you switch Wi-Fi networks. Follow these simple steps to reconnect.
            .new-wifi(style="margin: 20px 0 30px 0;")
                a.button(ng-click="newWifi()") CONFIGURE MY DEVICE
.right
    .center-center.device(style="top: 30%")