.left.white
    .center-center
        .copy
            h1 Tweet, Tweet
            p Congratulations! The device is configured and ready for Tweets. Every Tweet will evoke an action from the device. Continue to the control panel to add your handle and hashtag.

.right
    .center-center.device(style="top: 30%")