.landing-content
    h1 Your device is ready for Tweets.
    p Congratulations, your device is conﬁgured and will now send you to the control panel.
    p Once there you can add additional hash tags to animate the device.
    p Thank you for conﬁguring and happy Tweeting!
    .btn(ng-click="start()") TAP HERE TO CONFIGURE AGAIN