.left.white
    .center-center
        .copy
            h1 Connect your device to Wi-Fi
            p Change the Wi-Fi connection on your computer to the network that starts with littleBits_Cloud followed by six characters. The page will automatically continue to the next step once the browser detects the device.
.right
    .center-center.panel(style="top: 25%").switch-wifi
        img(src="images/wifis.png" )




