h4 Connect to LittleBits Wifi
.instruction-step.clearfix
    img(src="http://placehold.it/300&text=Wifi+Preferences")
    div.content.left
        h3 Switch your computers Wifi to <strong>"littleBits_Cloud_..."
        | Open your wifi preferences and choose "littleBits_Cloud_..." from the list.
        .wifi-waiting
            div {{ status.message }}
            .spinner