.background-holder( ng-class="wifiImage" )
    h1 Connecting your computer to the device.
    p Now, change your wiﬁ connection on your computer to the network that starts
    p with littleBits_Cloud followed by 6 characters. The page will automatically
    p change when the browser detects the device availability.
