.left.white
    .center-center
        .copy
            h1 Connecting your computer to the device.
            p Now, change your wiﬁ connection on your computer to the network that starts with littleBits_Cloud followed by 6 characters. The page will automatically change when the browser detects the device availability.
.right
    .center-center.panel(style="top: 25%").switch-wifi
        img(src="images/wifis.png" )




