.left.white
    .center-center
        .copy
            h1 Reconnect your computer to Wi-Fi
            p Once the device is configured, connect your computer to your local Wi-Fi network. The page will automatically continue to the next step once the light on the device changes from blue to green.

.right
    .center-center.reconnecting
        .spinner
        | {{ message }}
