h1 Reconnecting your computer to wiﬁ.
p Once your bird is conﬁgured switch your computer back to your local wiﬁ.
p When your local wiﬁ is selected the page will automatically change and the
p light on the device will also change from blue to green.
h3.reconnect {{ message }}
    .spinner