.left
    .center-center.start(ng-click="next()")
        a.button.clear-button CONFIGURE MY DEVICE
        .disclaimer
            strong Note:
            = " "
            | The device operates on a local Wi-Fi network (e.g. your home or office). At this time, it will not connect to a hotel Wi-Fi network that requires a special login.
.right
    .center-center.device(style="top: 30%")

