//div(videoid="112687575" class="vimeo video")
.movie-container
    a.btn(ng-hide="skipping.visible" ng-click="skip()") Tap here to skip video
    a.btn(ng-show="skipping.visible" ng-click="next()") Tap here to get started