//div(videoid="112687575" class="vimeo video")
.movie-container
    button(ng-hide="skipping" ng-click="skip()") Tap here to skip video
    button(ng-show="skipping" ng-click="next()") Tap here to get started