h4 Enter Password
.instruction-step
    .content.center
        | The cloud module needs your wifi password to connect to the internet. The information will not be shared.
        .form-control(ng-model="wifiPassword" placeholder="Password" type="text")
        button.btn.btn-primary.btn-lg.btn-block(type="button" ng-click="savePassword()" ) SAVE