h1 Entering your password.
p Enter a new personal password for your device.
p The page will change once the password is entered and the save button is tapped.
.password-content
    .form-control
        input(ng-model="wifiPassword" placeholder="Password" type="text")
    .form-control
        a.btn(type="button" ng-click="savePassword()" ) SAVE PASSWORD