.left.white
    .center-center
        .copy
            h1 Enter a password
            p(style="margin-bottom: 16px;") Enter a new personal password for your device.
            .password-content.clearfix
                .form-control
                    input(ng-model="wifiPassword" placeholder="Password" type="text")
                .form-control
                    a.button(type="button" ng-click="savePassword()" ) SAVE
.right
    .center-center.lock(style="top: 45%")

