.background-holder.setting-up
    h1 Setting up your device.
    p Insert a paper clip into the hole on the base of the device and lightly press until the Flashing Light changes to solid Blue.
    p Once the Light is solid Blue your device is ready to connect to wiﬁ.

    status


a.btn( ng-click="next()") BLUE LIGHT IS READY

