h4 Ready
.instruction-step.clearfix
    img(src="http://placehold.it/300&text=BLUE+LIGHT")
    div.content.left
        | Hold down the setup button until the light blinks blue. Then let go and wait for the light to turn steady blue.
button.btn.btn-primary.btn-lg.btn-block(type="button" ng-click="next()") BLUE LIGHT IS READY

