.left.white
    .center-center
        .copy
            h1 Configure your device
            p On the base of the device, switch it to the ON position. Then, insert a paper clip into the little hole next to RESET, press gently and wait until the flashing STATUS light changes to solid blue. The solid blue means the device is ready to connect to Wi-Fi.
            a.button(ng-click="next()") CONTINUE
.right
    .center-center.panel.panel-device-bottom
        .status( status )
        .device-bottom
