.left.white
    .center-center.setting-up
        .copy
            h1 Configure your device
            p Use a paper clip and insert it into the tiny hole on the base of the device. Press in gently and wait for the Flashing Light to change to solid Blue. Once the Light is solid Blue your device is ready to connect to wiﬁ.
            a.button(ng-click="next()") CONTINUE
.right
    .center-center.under-device
        | coming soon




